body {
     font-family:"Varela Round", sans-serif;
     background-color: rgb(241, 204, 213);
     margin: 0; 
     padding: 8vw;
    animation: 10s linear 0s infinite alternate both running color-change-2x;
   
}

.wrapper {
     max-width: 600px;
     margin: 0 auto;
     padding-left: 6vw;
}
@media screen and (max-width: 500px) {
     h1, p {
          padding-left: 13%;
     }
}